body{
    background-color:#ecf4f3;}
    
    hr{
      border:None;
        border-color:grey;
      border-top-style:dotted;
      border-width:5px;
      width:10%;
    }
    h1
   {color:#66bfbf
   }
   h3
   {color:#66bfbf
   }
